<h1><%= @team.name %>
<br>
<h2>Team Motto: <%= @team.motto %></h2>
<br>
<% @heroes.each do |hero| %>
    <h2>Hero Name: <%= hero.name %></h2>
    <p>Hero Power: <%= hero.power %><br>
    Hero Biography: <%= hero.biography%><p>
    <%end%>
